<ion-grid text-center>
  <ion-row>
    <ion-col (click)="offApplication()">
      <i class="fa fa-edit"></i>
      <ion-label>
        Apply Off
      </ion-label>
    </ion-col>
    <ion-col>
      <i class="fa fa-inbox"></i>
      <ion-label>
        Routine Order
      </ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <i class="fa fa-male"></i>
      <ion-label>
        Parade State
      </ion-label>
    </ion-col>
    <ion-col>
      <i class="fa fa-address-book"></i>
      <ion-label>
        BIBO
      </ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <i class="fa fa-cutlery"></i>
      <ion-label>
        Meal
      </ion-label>
    </ion-col>
  </ion-row>
</ion-grid>
